.favContainer{
    border: 1px solid teal;
    width: 40%;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 0rem;
    min-height: 500px;
    
}
.singleFavList{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
textarea{
    width: 100%;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
}
.border-bottom{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}