.searchBar{
    border: 1px solid teal;
    width: 40%;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 10px;
    min-height: 500px;
    
}
.singlePackage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.singlePackage p{
    width: 50%;
}
.singlePackage span{
    margin-right: 20px;
}
.singlePackage button{
    cursor: pointer;
    padding: 5px 10px;
}
.searchBar input{
    width: 70%;
    outline: none;
    padding: 5px;
}
.searchBar>div:first-child> button{
    padding: 5px 26px;
    cursor: pointer;
}