*{
    margin: 0;
    padding: 0;
}
/* Navbar css */


.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.917);
  }
  
  .navbar__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar__logo h3 {
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navbar__links {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;  
    cursor: pointer;
  }
  
  .navbar__links li {
    margin: 0 1rem;
  }
  
  .navbar__links li {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navbar__links li:hover {
    color: red;
  }

  /* Content-Part */

  .center{
     display: flex; 
    justify-content: center;
    align-items: center; 
    height: 400px;
  }
  .center p{
    font-size: 40px;
    color: red;
  }

  /* question */

  .main{
    margin: 10%;
    text-align: center;
  }
  .main 
  h1,
  input,
  h3{
    margin-top: 10px;
  }
  .main input{
    padding: 5px;
    font-size: 18px;
  }

  .main button{
    margin-left: 10px;
    background-color: brown;
    border: none;
    padding: 10px 10px;
    border-radius: 14px;
    color: #fff;
  }

